name: Auto-grading TP3 Expert

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Run tests
        run: |
          python Exercices-Expert/tests/test_plus_longue_sous_sequence.py
          python Exercices-Expert/tests/test_max_somme_contigue.py
